.popup {
  max-width: 150px;
}

.popup img {
  height: 50px;
  width: 48px;
  border-radius: 50%;
}

.formcontainer {
  align-items: center;
  justify-content: center;
  background-color: #28243b ;
  display: flex;
  padding: 10px;
}

.formcontainer input {
  font-size: 14px;
  margin: 5px;
  width: 250px;
}

.mapaContainer button {
  align-items: center;
  justify-content: center;
  background-color: #d64d47;
  font-weight: bold;
  color: #FFF;
  border-radius: 8px;
  border: none;
  width: 300px;
  cursor: pointer;
  height: 30px;
}