.footerContainer {
    width: 100%;
    height: 80px;
    background-color: #28243b;
    display: flexbox;
    flex-direction: row;
    margin: 0;
    font-size: 14px;
    color: #fff;
    text-align: center;
    bottom: 0;
    left: 0;
}

.footerLinks {
    align-items: center;
}


.footerLinks a img {
    color: #fff;
    padding: 5px;
    margin-top: 5px;
}

.footerImagem {
    display: flex;
    align-items: center;

}

.footerImagem .corQuadrado {
    height: 50px;
    flex-grow: 1;
    margin: 0;
}

.vermelho {
    background-color: #d64d47;

}
.laranja {
    background-color: #e77c48;
}
.amarelo {
    background-color: #f4bb24;
}

.azul {
    background-color: #37a0cd;
}
.verde {
    background-color: #6db85d;
}
.roxo {
    background-color: #816aa0;
}

