.cadastroPrestadorContainer {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prestadorInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}

.prestadorInfo .prestadorAvatar {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: #CCC;
  margin-bottom: 20px;
}

.prestadorInfo input {
  font-size: 24px;
  font-weight: bold;
}

.prestadorInfo input::placeholder {
  color: #FFF;
  text-align: center;
}

.cadastroPrestadorContainer .prestadorInfo input {
  background-color: transparent;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
  margin-bottom: 5px;
  color: #FFF;
  justify-content: center;
 }
 
 .prestadorInfo input {
   background-color: transparent;
   border: transparent;
   color: #FFF;
 }
 
 .cadastroPrestadorContainer input::placeholder {
   color: #FFF;
  }
 
 .cadastroPrestadorContainer .cadastroButton {
   background-color: #d64d47;
   font-weight: bold;
   color: #FFF;
   padding: 8px 16px;
   border-radius: 8px;
   margin-top: 20px;
   border: none;
   width: 100%;
   cursor: pointer;
 }

 .vermelho {
  border-bottom-color: #d64d47;
}

.laranja {
  border-bottom-color: #e77c48;
}

.amarelo {
  border-bottom-color: #e77c48;
}

.azul {
  border-bottom-color: #37a0cd;
}

.verde {
  border-bottom-color: #6db85d;
}

.roxo {
  border-bottom-color: #816aa0;
}